:root {
    --first-color: rgba(241, 243, 255, 1);
    --second-color: rgba(13, 40, 166, 1);
    --third-color: #e5e5e5;
    --fourth-color: #5CB85F;
  }

nav {
    background-color: var(--first-color);
}
.offcanvas-body .navbar-nav .nav-item .nav-link {
    color: #000000;
}
.navbar-brand{
    background-color: var(--second-color);
    color: #fff;
}
.pxc-7 {
    /* padding: 1vh 10vw 1vh 10vw; */
    padding-left: 8%;
    padding-right: 5%;
}
.btn {
    background-color: var(--fourth-color);
    color: white;
    width: fit-content;
}
#navbar-content {
    width: 30vw;
}
.cta-btn {
    font-weight: 700 !important;
    color: #fff !important;
    background: var(--fourth-color);
    border-radius: 0.1rem;
    border: none;
    transition: all ease-in-out 0.2s;
}
/* Responsive  */
@media only screen and (min-width: 375px) {
    .pxc-7 {
        /* padding: 1vh 10vw 1vh 10vw; */
        padding-left: 3.5%;
        padding-right: 3%;
    }
}